
COGNITO_REGION=us-east-1
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=a
RESOURCE_SERVER_ID=vidalstore


FRONTEND_ORIGIN=http://localhost:4200
MICROSERVICIO_URL=http://localhost:3001

PORT=8080
